body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 1em;
}
.week {
  display: flex;
  gap: 1em;
}
h2 {
  text-align: center;
  margin: 0;
}
.day {
  flex: 1;
}
.lessons {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.lesson {
  padding: 0.5em;
  border-radius: 5px;
  color: #111111;
}
.row {
  display: flex;
  justify-content: space-between;
}
.hours {
  font-weight: bold;
}
.subject {
  font-weight: bold;
  text-align: right;
}
.teacher {
  font-size: 0.85em;
  text-align: right;
}
.dayName {
  text-align: center;
  margin-bottom: 0;
}
.dayHours {
  text-align: center;
  margin-bottom: 1em;
  margin-top: 0;
}
.content {
  display: flex;
  align-items: end;
  gap: 0.5em;
  margin-top: 1em;
}
.right {
  margin-left: auto;
}
.btn {
  padding: 0.8em 1em;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #b931fc;
  color: white;
  transition: color 0.5s;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
  text-decoration: none;
  font-size: 0.8em;
  display: inline-block;
}
.btn:hover {
  background-color: #ca4bff;
}
.spacer {
  height: 2em;
}
.btn-filter {
  padding: 0.8em 1em;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: 2px solid #777;
  color: black;
  transition: color 0.5s;
  text-decoration: none;
  font-size: 0.8em;
  display: inline-block;
}
.btn-filter:hover {
  background-color: #0000001a;
}
.btn-filter-active {
  outline: 2px solid #881a82;
  background-color: #881a821a;
  font-weight: bold;
  color: #61115d;
}
.btn-filter:hover {
  background-color: #881a8226;
}
.buttons {
  display: flex;
  gap: 2em;
  align-items: flex-end;
  flex-wrap: wrap;
}
.row-2 {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}
.mb-1 {
  margin-bottom: 0.5em;
}
.mb-2 {
  margin-bottom: 1em;
}
.hamburger {
  font-size: 30px;
  padding: 0 0.5em;
  margin-bottom: 0.5em;
}
@media screen and (min-width: 601px) {
  .hamburger {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .week {
    flex-direction: column;
    width: 100%;
  }
  .hidden {
    display: none;
  }
}
.break {
  background-color: #881a821a;
  border: 1px solid #881a8226;
  border-radius: 3px;
  font-size: 0.9em;
  padding: 2px;
  text-align: center;
}